

// - Typefaces



// - Colors 
// Scheme
$color-foreground: #0D0D0D; 
$color-tint: #404040; 
$color-gray: #737373; 
$color-shade: #BFBFBF; 
$color-background: #F8F9FB; 
$color-elevate: #FFFFFF; 

// Semantic
$color-brand: #66F27B; 
$color-success: #2BD84E; 
$color-info: #5C93FA; 
$color-warning: #FFD323; 
$color-error: #FF5E6E; 

// Typefaces

$typeface-body: 
    "Heebo",
    "Inter",
    // 'Poppins',
    sans-serif;


$typeface-title: 
    "Inter",
    "Poppins",
    sans-serif;


// - Weights
$weight-light: 200; 
$weight-regular: 300; 
$weight-bold: 500;




// Mixins
@mixin container {
    position: fixed;
    top: 0px; 
    left: 0px; 
    right: 0px; 
    
    width: 100%; 
}


@mixin flex-column{
    display: flex; 
    flex-direction: column;
}


