
@use "./variables" as app; 


main#main {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    bottom: 0px; 
    right: 0px; 
    width: 100vw; 
    height: 100vh;

    > div {
        -webkit-overflow-scrolling: auto !important;
    }
}





